## Solution - 1

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
response = requests.get(url)

# Create a BeautifulSoup object from the response content
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the video details
table = soup.find("table", class_="wikitable")

ranks = []
names = []
artists = []
upload_dates = []
views = []

# Find all the rows in the table body
rows = table.tbody.find_all("tr")

# Iterate over each row and extract the video details
for row in rows:
    # Find the cells in the row
    cells = row.find_all("td")
    
    # Ensure the row has the required number of cells
    if len(cells) == 6:
        # Extract the details from the cells
        rank = cells[0].text.strip()
        name_with_wikipedia_formatting = cells[1].text.strip()
        artist = cells[2].text.strip()
        upload_date = cells[4].text.strip()
        view = cells[3].text.strip()
        
        name = name_with_wikipedia_formatting.split('"')[1] # This step is done, in order to make scraped data clean
        
        ranks.append(rank)
        names.append(name)
        artists.append(artist)
        upload_dates.append(upload_date)
        views.append(view)
        
yt_videos = {'Rank': ranks, 'Name of the song': names, 'Artist Name': artists, 'Upload Date': upload_dates, 'Views': views}
most_viewed_videos = pd.DataFrame(yt_videos)

# Print the DataFrame
most_viewed_videos.set_index('Rank', inplace=True)
most_viewed_videos

,Name of the song,Artist Name,Upload Date,Views
Rank,,,,
1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
2.,Despacito,Luis Fonsi,"January 12, 2017",8.14
3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.69
4.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
5.,Shape of You,Ed Sheeran,"January 30, 2017",5.97
6.,See You Again,Wiz Khalifa,"April 6, 2015",5.86
7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.26
8.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.89
10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.87
11.,Gangnam Style,Psy,"July 15, 2012",4.77
12.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.32
14.,Axel F,Crazy Frog,"June 16, 2009",3.87
15.,Sugar,Maroon 5,"January 14, 2015",3.86
16.,Roar,Katy Perry,"September 5, 2013",3.78
17.,Counting Stars,OneRepublic,"May 31, 2013",3.77
18.,Sorry,Justin Bieber,"October 22, 2015",3.65
19.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
20.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.58
21.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.56
22.,Dark Horse,Katy Perry,"February 20, 2014",3.50
23.,Faded,Alan Walker,"December 3, 2015",3.44
24.,Perfect,Ed Sheeran,"November 9, 2017",3.42
25.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.42
26.,Let Her Go,Passenger,"July 25, 2012",3.42
27.,Girls Like You,Maroon 5,"May 31, 2018",3.40
28.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
29.,Lean On,Major Lazer,"March 22, 2015",3.37
30.,Bailando,Enrique Iglesias,"April 11, 2014",3.37

## Solution - 2

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

In [ ]:
driver = webdriver.Chrome(r"/Users/ritwiksinha/Desktop/chromedriver/chromedriver_mac_arm64/chromedriver")
driver.get("https://www.bcci.tv/")

In [ ]:
# Automating the clicking of international button

search_button = driver.find_element(By.CLASS_NAME, "nav-item")
search_button.click()

In [ ]:
# Get web elements for Match title, Series, Place, Date and Time

match_titles = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
series = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
ground_name = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
place = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
date = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
time = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')

# Get text from the web elements

match_titles = [title.text.strip("-") for title in match_titles]
series = [serie.text for serie in series]
ground_name = [ground.text.strip(",") for ground in ground_name]
place = [location for location in place]
date = [dt.text for dt in date]
time = [tm.text for tm in time]

In [ ]:
# Creating dataframe for storing data

cricket_df = pd.DataFrame({
    'Match Title': match_titles,
    'Series': series,
    'Ground Name': ground_name,
    'Place': place,
    'Date': date,
    'Time': time
})

# Print the dataframe, which shows jobs under Data Scientist title, in Delhi/NCR region and salary ranging from 3 to 6 lakhs

cricket_df

,Match Title,Series,Ground Name,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,Kennington Oval,<selenium.webdriver.remote.webelement.WebEleme...,7 JUN 2023,11:00 AM BST

## Solution - 3

In [ ]:
driver = webdriver.Chrome(r"/Users/ritwiksinha/Desktop/chromedriver/chromedriver_mac_arm64/chromedriver")
driver.get("http://statisticstimes.com/")

In [ ]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Find the dropdown element
dropdown = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button/i')

# Click the dropdown to expand it
dropdown.click()

# Find the button inside the dropdown
button = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')))
button.click()

# Next page will take 5-10 seconds to load, an advertisement may appears

In [ ]:
# Manually close the addvertisement before running this code, otherwise enable ad blocker

gdp_of_indian_states_button = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp_of_indian_states_button.click()

In [ ]:
cookie_acceptance_button = driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div/div[2]/div/button[2]")
cookie_acceptance_button.click()

In [ ]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
table = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//*[@id="table_id"]/tbody')))

# Initialize lists to store the scraped details
rank = []
state = []
gsdp_1819_at_current_prices = []
gsdp_1920_at_current_prices = []
share_1819 = []
gdp_in_dollar_million = []

# Find all the dataset rows
dataset_rows = table.find_elements(By.TAG_NAME, "tr")

# Iterate over each dataset row
for row in dataset_rows:
    # Extract the dataset details from each column
    columns = row.find_elements(By.TAG_NAME, 'td')
    rank.append(columns[0].text)
    state.append(columns[1].text)
    gsdp_1819_at_current_prices.append(columns[3].text)
    gsdp_1920_at_current_prices.append(columns[2].text)
    share_1819.append(columns[4].text)
    gdp_in_dollar_million.append(columns[5].text)

# Create a DataFrame from the scraped details
data = {
    "Rank": rank,
    "State": state,
    "GSDP(18-19)- at current prices": gsdp_1819_at_current_prices,
    "GSDP(19-20)- at current prices": gsdp_1920_at_current_prices,
    "Share(18-19)": share_1819,
    "GDP($ billion)": gdp_in_dollar_million,
}
df = pd.DataFrame(data)

# Print the DataFrame
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

## Solution - 4

In [ ]:
driver = webdriver.Chrome(r"/Users/ritwiksinha/Desktop/chromedriver/chromedriver_mac_arm64/chromedriver")
driver.get("http://github.com/")

In [ ]:
signin_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/header/div/div[2]/div/div/div[2]")
signin_button.click()

In [ ]:
username = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/main/div/div[4]/form/input[2]")
username.send_keys("Need to enter username")

In [ ]:
password = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/main/div/div[4]/form/div/input[1]")
password.send_keys("Need to enter password")

In [ ]:
final_signin_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[3]/main/div/div[4]/form/div/input[12]")
final_signin_button.click()

In [ ]:
explore_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/header/div[3]/nav/a[5]")
explore_button.click()

In [ ]:
trending_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/main/div[1]/nav/div/a[3]")
trending_button.click()

In [ ]:
# Get web elements for Match title, Series, Place, Date and Time

repository_title = driver.find_elements(By.XPATH,'span[@class="text-normal"]')
repository_description = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
contributors_count = driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
language_used = driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')

# Get text from the web elements

repository_title = [title.text.strip("-") for title in repository_title]
repository_description = [rep.text for rep in repository_description]
contributors_count = [cont.text.strip(",") for cont in contributors_count]
language_used = [lang for lang in language_used]

In [ ]:
print(repository_title)
print()
print(repository_description)
print()
print(contributors_count)
print()
print(language_used)

[]

['Facebook AI Research Sequence-to-Sequence Toolkit written in Python.', 'Implementation of DragGAN: Interactive Point-based Manipulation on the Generative Image Manifold', 'This is the Rust course used by the Android team at Google. It provides you the material to quickly teach Rust to everyone.', 'A visual no-code/code-free web crawler/spider一个可视化爬虫软件，可以无代码图形化设计和执行的爬虫任务', 'リアルタイムボイスチェンジャー Realtime Voice Changer', 'Implementation of "Drag Your GAN: Interactive Point-based Manipulation on the Generative Image Manifold"', '🎉 Repo for LaWGPT, Chinese-Llama tuned with Chinese Legal knowledge. 基于中文法律知识的大语言模型', 'Plug in and Play Implementation of Tree of Thoughts: Deliberate Problem Solving with Large Language Models that Elevates Model Reasoning by atleast 70%', '💼 An enterprise-grade Next.js boilerplate for high-performance, maintainable apps. Packed with features like Tailwind CSS, TypeScript, ESLint, Prettier, testing tools, and more to accelerate your development.', 'ranger-like terminal file manager written in Rust', 'Seamlessly integrate powerful language models like ChatGPT into scikit-learn for enhanced text analysis tasks.', 'SpeechGPT: Empowering Large Language Models with Intrinsic Cross-Modal Conversational Abilities.', '[🔥updating ...] 自动量化交易机器人 Qbot is an AI-oriented quantitative investment platform, which aims to realize the potential, empower AI technologies in quantitative investment. https://ufund-me.github.io/Qbot :news: qbot-mini: https://github.com/Charmve/iQuant', 'An authorization library that supports access control models like ACL, RBAC, ABAC in Golang', '⭐ 自行搭建的可先用 ModHeader 添加 X-Forwarded-For 请求头，对应 URL 是 wss://sydney.bing.com/sydney/ChatHub ，暂时可用 ，可参考 https://zhuanlan.zhihu.com/p/606655303 ⭐ 主站服务器转发的，相对直连官网，会卡很多，等后续看看有没有更好的方式，再提交版本更新。', 'RWKV is an RNN with transformer-level LLM performance. It can be directly trained like a GPT (parallelizable). So it\'s combining the best of RNN and transformer - great performance, fast inference, saves VRAM, fast training, "infinite" ctx_len, and free sentence embedding.', 'VITS: Conditional Variational Autoencoder with Adversarial Learning for End-to-End Text-to-Speech', 'Interact your data and environment using the local GPT, no data leaks, 100% privately, 100% security', 'Let us control diffusion models!', 'Supercharged experience for ChatGPT, DALL-E and Stable Diffusion.', "An open source implementation of OpenAI's ChatGPT Code interpreter", 'Free, ultrafast Copilot alternative for Vim and Neovim', 'Tree of Thoughts: Deliberate Problem Solving with Large Language Models', "Enable everyone to develop, optimize and deploy AI models natively on everyone's devices.", '中文LLaMA&Alpaca大语言模型+本地CPU/GPU部署 (Chinese LLaMA & Alpaca LLMs)']

['24,866', '5,673', '886', '90', '15,004', '713', '6,210', '636', '3,530', '338', '857', '70', '3,617', '314', '818', '83', '1,493', '121', '1,656', '83', '1,197', '95', '388', '18', '1,735', '180', '14,694', '1,571', '1,178', '709', '7,437', '489', '4,071', '860', '2,323', '404', '19,596', '1,832', '660', '134', '1,311', '118', '1,632', '38', '837', '43', '7,000', '458', '9,324', '947']

[<selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_956")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_854")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_957")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_958")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_959")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_960")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_961")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_962")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_963")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_964")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_965")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_966")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_967")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_968")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_969")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_970")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_971")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_972")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_973")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_974")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_975")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_976")>, <selenium.webdriver.remote.webelement.WebElement (session="c30b8b6c9d380ac1d5236af333e917a1", element="2928454F9D9D8D099D3385369386597C_element_977")>]

## Solution - 6

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Send a GET request to the URL
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
response = requests.get(url)

In [ ]:
# Create a BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table containing the details of highest selling novels
table = soup.find('table', class_='in-article sortable')

In [ ]:
# Initialize lists to store the scraped details
title = []
author = []
volumes_sales = []
publisher = []
genre = []

# Iterate over the rows in the table
for row in table.find_all('tr')[1:]:
    cells = row.find_all('td')
    if len(cells) >= 5:  # Check if the row has enough cells
        title.append(cells[1].text)
        author.append(cells[2].text)
        volumes_sales.append(cells[3].text)
        publisher.append(cells[4].text)
        genre.append(cells[5].text)

In [ ]:
# Create a DataFrame from the scraped details
data = {
    'Book Name': title,
    'Author Name': author,
    'Volumes Sold': volumes_sales,
    'Publisher': publisher,
    'Genre': genre
}
df = pd.DataFrame(data)
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the ...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to ...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Solution - 7

In [ ]:
# Send a GET request to the URL
url = "https://www.imdb.com/list/ls095964455/"
response = requests.get(url)

# Create a BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
# Initialize lists to store the scraped details
names = []
year_spans = []
genres = []
runtimes = []
ratings = []
votes = []

# Find the container with the TV series details
container = soup.find('div', class_='lister-list')

# Iterate over each TV series item
for item in container.find_all('div', class_='lister-item-content'):
    name = item.h3.a.text.strip()
    names.append(name)
    
    year_span = item.find('span', class_='lister-item-year').text.strip('()')
    year_spans.append(year_span)
    
    genre = item.find('span', class_='genre').text.strip()
    genres.append(genre)
    
    runtime = item.find('span', class_='runtime').text.strip()
    runtimes.append(runtime)
    
    rating = item.find('span', class_='ipl-rating-star__rating').text.strip()
    ratings.append(rating)
    
    vote = item.find('span', attrs={'name': 'nv'})['data-value']
    votes.append(int(vote))

In [ ]:
# Create a DataFrame from the scraped details
data = {
    'Name': names,
    'Year Span': year_spans,
    'Genre': genres,
    'Run Time': runtimes,
    'Ratings': ratings,
    'Votes': votes
}
df = pd.DataFrame(data)

# Print the DataFrame
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,2162962
1,Stranger Things,2016–2022,"Drama, Fantasy, Horror",51 min,8.7,1242923
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,1027529
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,302256
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,261369
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,51690
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,63726
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,207711
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7,43218
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,258299

## Solution - 8

In [ ]:
# Set up Chrome driver options
chrome_options = Options()
chrome_options.add_argument("--headless")  # Run Chrome in headless mode

# Set up Chrome driver service
driver_path = r"/Users/ritwiksinha/Desktop/chromedriver/chromedriver_mac_arm64/chromedriver"  # Replace with the actual path to chromedriver executable
service = Service(driver_path)

# Create a new instance of the Chrome driver
driver = webdriver.Chrome(service=service, options=chrome_options)

In [ ]:
# Navigate to the UCI Machine Learning Repository
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [ ]:
# Automating the clicking of "Show all dataset" button

search_button = driver.find_element(By.XPATH, "/html/body/table[2]/tbody/tr/td/span/b/a")
search_button.click()

In [ ]:
# Initialize lists to store the scraped details
dataset_names = []
data_types = []
tasks = []
attribute_types = []
no_of_instances = []
no_of_attributes = []
years = []

# Find all the dataset rows
dataset_rows = driver.find_elements(By.XPATH, "//table[@border='1']/tbody/tr")

# Iterate over each dataset row
for row in dataset_rows[1:]:
    # Extract the dataset details from each column
    columns = row.find_elements(By.TAG_NAME, "td")
    dataset_names.append(columns[0].text)
    data_types.append(columns[3].text)
    tasks.append(columns[4].text)
    attribute_types.append(columns[5].text)
    no_of_instances.append(columns[6].text)
    no_of_attributes.append(columns[7].text)
    years.append(columns[8].text)

# Create a DataFrame from the scraped details
data = {
    "Dataset Name": dataset_names,
    "Data Type": data_types,
    "Task": tasks,
    "Attribute Type": attribute_types,
    "No of Instances": no_of_instances,
    "No of Attributes": no_of_attributes,
    "Year": years,
}
df = pd.DataFrame(data)

# Print the DataFrame
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021